

.player-profile {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: rgba(69, 15, 219, 0.3);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-bottom: 16px;
    filter: brightness(0.9);
    transition: all 225ms ease-in-out;

    img {
        height: 75px;
        width: 75px;
        object-fit: cover;
        border-radius: 50%;
        border: 2px solid white;
        background-color: white;
        margin: 8px;
    }

    span {
        font-size: 20px;
        color: white;
    }
}

.player-active {
    width: 115%;
    box-shadow: 0 0 5px white;
    filter: brightness(1) !important;
    transition: all 225ms ease-in-out;
}