<div class="field">
    <div class="player-section">
        <!-- [player] ist die @Input-Variable aus der player.components.ts -->
        <app-player (click)="editPlayer(i)" *ngFor="let player of game.players, let i = index;" [player]="player" [playerActive]="i == game.currentPlayer">
        </app-player>
        <button *ngIf="game.players.length < 9" (click)="openDialog()" mat-fab color="primary" class="btn-add">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <div *ngIf="!game.gameOver" class="card-deck">

        <!-- CARD STACK -->
        <!-- for-Schleife -->
        <!-- c ist eine Variable, die durch ein Array iteriert (die Einträge im Array sind willkürlich)-->
        <img *ngFor="let c of game.stack; let i = index;" [ngStyle]="{'bottom.px': 50 + i * 1}"
            src="assets/img/cards/red_back.png" alt="card-deck">

        <!-- CURRENT CARD (Animation) -->
        <img (click)="takeCard()" [ngStyle]="{'bottom.px': 51 + game.stack.length}" class="top-card"
            [class.picked-card]="game.cardIsTaken" src="assets/img/cards/{{ game.currentCard }}.png" alt="top-card">

        <!-- STACK WITH PLAYED CARDS -->
        <!-- card ist hier eine willkürlich gesetzte Variable, die durch das Array game.playedCards iteriert -->
        <img *ngFor="let card of game.playedCards; let i = index" [ngStyle]="{'bottom.px': 102 + i * 1}"
            class="played-card" src="assets/img/cards/{{ card }}.png" alt="card-deck-picked">

    </div>

    <!-- Preload next card image -->
    <img *ngIf="game.stack.length != 0" class="preloadedImage" src="assets/img/cards/{{ game.stack[game.stack.length - 1] }}.png" alt="">

    <app-game-info [card]="game.currentCard"></app-game-info>

    <app-endscreen *ngIf="game.gameOver"></app-endscreen>

</div>
