<div class="field">
    <div class="player-section">
        <!-- [player] is the @Input-param from player.components.ts -->
        <app-player (click)="editPlayer(i)" *ngFor="let player of game.players, let i = index;" [player]="player" [playerActive]="i == game.currentPlayer">
        </app-player>
        <button *ngIf="game.players.length < 9" (click)="openDialog()" mat-fab color="primary" class="btn-add">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <div *ngIf="!game.gameOver" class="card-deck">

        <!-- CARD STACK -->
        <img *ngFor="let c of game.stack; let i = index;" [ngStyle]="{'bottom.px': 50 + i * 1}"
            src="assets/img/cards/red_back.png" alt="card-deck">

        <!-- CURRENT CARD (Animation) -->
        <img (click)="takeCard()" [ngStyle]="{'bottom.px': 51 + game.stack.length}" class="top-card"
            [class.picked-card]="game.cardIsTaken" src="assets/img/cards/{{ game.currentCard }}.png" alt="top-card">

        <!-- STACK WITH PLAYED CARDS -->
        <!-- card is a randomly set variable which iterates through the game.playedCards array -->
        <img *ngFor="let card of game.playedCards; let i = index" [ngStyle]="{'bottom.px': 102 + i * 1}"
            class="played-card" src="assets/img/cards/{{ card }}.png" alt="card-deck-picked">

    </div>

    <!-- Preload next card image -->
    <img *ngIf="game.stack.length != 0" class="preloadedImage" src="assets/img/cards/{{ game.stack[game.stack.length - 1] }}.png" alt="">

    <app-game-info [atLeastOnePlayerCreated]="game.players.length > 0" (ableToTakeFirstCard)="releaseStack()" [card]="game.currentCard" [currentStackLength]="game.stack.length"></app-game-info>

    <!-- Preload endscreen image -->
    <img *ngIf="game.stack.length == 1" class="preloadedImage" src="assets/img/endscreen.jpg">

    <app-endscreen [shuffleCardsSound]="AUDIO_SHUFFLE_CARDS" (restartButtonClicked)="playAnotherRound()" *ngIf="game.gameOver"></app-endscreen>

</div>
