<div class="field">
    <div class="card-deck">

        <!-- CARD STACK -->
        <!-- for-Schleife -->
        <!-- c ist eine Variable, die durch ein Array iteriert (die Einträge im Array sind willkürlich)-->
       <!--  <img *ngFor="let c of [0,1,2,3,4]; let i = index;" [ngStyle]="{'left.px': i * 5}" src="./assets/img/cards/red_back.png" alt="card-deck"> -->

        <img *ngFor="let c of game.stack; let i = index;" [ngStyle]="{'bottom.px': 50 + i * 1}" src="./assets/img/cards/red_back.png" alt="card-deck">

        <!-- CURRENT CARD (Animation) -->
        <!-- <img (click)="takeCard()" class="top-card" [class.picked-card]="cardIsTaken" style="left: 40px" src="./assets/img/cards/{{ currentCard }}.png" alt="top-card"> -->
        <img (click)="takeCard()" [ngStyle]="{'bottom.px': 51 + game.stack.length * 1}" class="top-card" [class.picked-card]="cardIsTaken" src="./assets/img/cards/{{ currentCard }}.png" alt="top-card">

        <!-- STACK WITH PLAYED CARDS -->
         <!-- card ist hier eine willkürlich gesetzte Variable, die durch das Array game.playedCards iteriert -->
        <!-- <img *ngFor="let card of game.playedCards" class="played-card" style="left: 40px" src="./assets/img/cards/{{ card }}.png" alt="card-deck-picked"> -->
        <img *ngFor="let card of game.playedCards; let i = index" [ngStyle]="{'bottom.px': 102 + i * 1}" class="played-card" src="./assets/img/cards/{{ card }}.png" alt="card-deck-picked">
        
    </div>
</div>