<h1 mat-dialog-title>Add a new Player</h1>
<div mat-dialog-content>
  <p>Please enter the player's name!</p>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <!-- Was in das Input Feld eingegeben wird, wird an die Variable name gebunden. -->
    <input matInput [(ngModel)]="name">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <!-- Die Variable name (aus dem Input Feld) wird bei Klick auf diesen Button als result zurückgegeben. -->
  <button mat-button [mat-dialog-close]="name" cdkFocusInitial>Ok</button>
</div>