.endscreen-container {
    width: 100%;
    position: absolute;
    top: 15vh;
    bottom: 3vh;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
}

.endscreen {
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.endscreen-btn-container {
    position: absolute;
    bottom: 3vh;
    width: 40%;
    display: flex;
    justify-content: space-evenly;

    button {
        box-shadow: 0 0 6px white;
        font-size: 16px;
        font-weight: 400;

        &:hover {
            filter: brightness(1.1);
        }
    }
}


/* RESPONSIVE DESIGN */

@media(max-width: 1200px) {
    .endscreen-btn-container {
        flex-direction: column;
        width: unset !important;
        height: 100px;
        justify-content: space-between !important;
    }
}

@media(max-width: 500px) {
    .endscreen-container {
        top: 30vh;
        bottom: 5vh;
    }
}

@media(max-width: 400px) {
    .endscreen-container {
        top: 40vh;
    }
}

