.endscreen-container {
    width: 100%;
    position: absolute;
    top: 15vh;
    bottom: 3vh;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
}

.endscreen {
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.endscreen-btn-container {
    position: absolute;
    bottom: 3vh;
    width: 40%;
    display: flex;
    justify-content: center;

    button {
        border: 2px solid rgb(238, 255, 0);
        font-size: 16px;
        font-weight: 400;

        &:hover {
            filter: brightness(1.1);
            border: 2px solid white;
        }
    }

    button:first-child {
        margin-right: 24px;
    }
}


/* RESPONSIVE DESIGN */

@media(max-width: 1200px) {
    .endscreen-btn-container {
        flex-direction: column;
        width: unset !important;
        height: 100px;
        justify-content: space-between !important;
        align-items: center;

        button:first-child {
            margin-right: unset !important;
        }
    }
}

@media(max-width: 500px) {
    .endscreen-container {
        top: 30vh;
        bottom: 0 !important;
    }
}

@media(max-width: 400px) {
    .endscreen-container {
        top: 40vh;
    }
}

