body {
    margin: 0;
    overflow: hidden;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body { height: 100%; }

.preloadedImage {
    z-index: -999;
    width: 0;
    height: 0;
}

.cdk-overlay-pane {
    max-width: 100% !important;
}