/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    overflow: hidden;
}

html, body { height: 100%; }

.preloadedImage {
    z-index: -999;
    width: 0;
    height: 0;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.cdk-overlay-pane {
    max-width: 100% !important;
}